@font-face {
  font-family: "SFProDisplay-Bold";
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-UltralightItalic";
  src: url("../fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"),
    url("../fonts/SFProDisplay-UltralightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Light";
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-ThinItalic";
  src: url("../fonts/SFProDisplay-ThinItalic.woff2") format("woff2"),
    url("../fonts/SFProDisplay-ThinItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Ultralight";
  src: url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Ultralight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-SemiboldItalic";
  src: url("../fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2"),
    url("../fonts/SFProDisplay-SemiboldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Thin";
  src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Semibold";
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-RegularItalic";
  src: url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"),
    url("../fonts/SFProDisplay-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-MediumItalic";
  src: url("../fonts/SFProDisplay-MediumItalic.woff2") format("woff2"),
    url("../fonts/SFProDisplay-MediumItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Medium";
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-LightItalic";
  src: url("../fonts/SFProDisplay-LightItalic.woff2") format("woff2"),
    url("../fonts/SFProDisplay-LightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Light";
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-HeavyItalic";
  src: url("../fonts/SFProDisplay-HeavyItalic.woff2") format("woff2"),
    url("../fonts/SFProDisplay-HeavyItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Heavy";
  src: url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-BoldItalic";
  src: url("../fonts/SFProDisplay-BoldItalic.woff2") format("woff2"),
    url("../fonts/SFProDisplay-BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Bold";
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-BlackItalic";
  src: url("../fonts/SFProDisplay-BlackItalic.woff2") format("woff2"),
    url("../fonts/SFProDisplay-BlackItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Black";
  src: url("../fonts/SFProDisplay-Black.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
